{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Товары</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Товары Wildberries</h1>

  <div class="filters">

    <div>
      <label>Цена от: <span id="minPriceValue">0</span> ₽</label><br>
      <input type="range" id="minPrice" min="0" max="500000" step="500" value="0" style="width: 400px;">
    </div>
    <div>
      <label>до: <span id="maxPriceValue">100000</span> ₽</label><br>
      <input type="range" id="maxPrice" min="0" max="500000" step="500" value="500000" style="width: 400px;">
    </div>

    <label>Рейтинг от:
      <input type="number" id="ratingMin" min="0" max="5" step="0.1" value="0">
    </label>

    <label>Отзывы от:
      <input type="number" id="feedbacksMin" min="0" value="0">
    </label>
  </div>

  <table>
    <thead>
      <tr>
        <th>Артикул</th>
        <th data-sort="name">Название</th>
        <th data-sort="price">Цена</th>
        <th data-sort="sale_price">Цена со скидкой</th>
        <th data-sort="rating">Рейтинг</th>
        <th data-sort="feedbacks">Отзывы</th>
      </tr>
    </thead>
    <tbody id="productTableBody">
    </tbody>
  </table>

  <div id="chartWidget">
    <div id="chartHeader" onclick="toggleChartWidget()">Диаграммы</div>
    <div id="chartContent">
      <canvas id="priceHistogram" height="150"></canvas>
      <canvas id="discountVsRatingChart" height="150"></canvas>
    </div>
  </div>

  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/charts.js' %}"></script>
  
</body>
</html>
